@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body text */
body {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: #f9fafb;
}

/* Main headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Card headers */
.card-header {
  font-family: "Playfair", serif;
  font-weight: 600;
}

/* Falling leaves animation */
@keyframes fall {
  0% {
    transform: translateY(-50px) rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall {
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


